# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# Custom Code::Blocks Plugin
*.zip
*.cbplugin
*.dll

# Custom Code::Blocks Env

*.depend
objs/